@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
body {
  background-image: url(../../Cash-Flow/public/img/img-main.png);
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.App-header {
  color: #CEABA0;
  font-family: "Sahitya";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
}

.App {
  background-image: url(../../Cash-Flow/public/img/img-main.png);
  background-size: cover;
  padding: 4vh;
  color: #ffffff;
}